.main_cover {
    display: flex;
    justify-content: center;
    align-items: center;

}

.input_cover {

    box-sizing: border-box;
    border: 1px solid #27272780;
    border-radius: 6px;
    background: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin-top: 10px;
    height: 64px;
}

.search_side {

    height: 100%;
    width: 100%;
}

.search_side input {
    outline: none;
    border: none;
    width: 95%;
    color: rgb(125, 125, 125);
    font-family: PP Neue Montreal;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    text-align: left;
    height: inherit;
    background-color: #E6E6E6;
    margin-left: 8px;
}

.hr {
    height: 46px;
    border: .2px solid rgba(0, 0, 0, .5);
}

.talent_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.talent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 160px;
    padding: 10px;
    gap: 10px;
    color: rgb(39, 39, 39);
    font-family: 'PP Neue Montreal';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
    cursor: pointer;
    height: 20px;
    width: 100px;
}




@media (min-width: 765px) {
    .input_cover {
        width: 725px;
        height: 64px;

    }



    .search_side {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .search_side input {
        outline: none;
        border: none;
        width: inherit;
        color: rgb(125, 125, 125);
        font-family: PP Neue Montreal;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        text-align: left;
        height: inherit;
        background-color: #E6E6E6;
        margin-left: 48px;
    }

    .hr {
        height: 42px;
        border: .2px solid rgb(0, 0, 0);
    }

    .talent_side {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        justify-content: space-between;
    }

    .talent {
        display: inline-flex;
        flex-direction: row;
        align-items: center;


    }

    .heroCtnMain {
        gap: 40px;
    }
}





@media (min-width: 1024px) {

    .heroCtnMain {
        gap: 50px;
    }

    .input_cover {
        width: 91.4%;
        height: 64px;

    }

    .talent_side {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 63px;
        justify-content: space-between;
    }


}