.input_cover {
    border: 1px solid #272727;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 88px;
    border-radius: 56px;
    margin: 0 auto;

}

.search_side {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 24px;
    width: 900px;
    height: 64px;

}

.search_side input,
.search_side input:focus,
.search_side input:active {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
}

.hr {
    border: 1px solid black;
    height: 46px;
    margin-right: 29.5px;
}

.button {
    background: none;
    border: none;

}

.talent_side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 24px;
}

.talent {
    display: flex;
    border: 1px solid #272727;
    border-radius: 160px;
    align-items: center;
    gap: 12px;
    width: 196px;
    justify-content: center;
}