.PaymentSkillsCtn {
    max-width: 310px;
    width: 100%;
}

.PaymentSkillsTop {
    color: rgb(10, 13, 19);
    font-family: PP Neue Montreal;
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
    width: 100%;
    letter-spacing: 0;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    justify-content: flex-start;
}

.hr {
    width: 300px;
    height: 0.25px;
    background: rgb(172, 172, 172);
    border: none;
}