.ApplicantCnt{

}
.ApplicantHeaderUserCnt{
    margin: 20px 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.ApplicantHeaderText{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: rgb(37, 50, 75);
    font-family: PP Neue Montreal;
    font-size: 19px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
}

.ApplicantHeaderUserData{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
}
.ApplicantHeaderUser{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.ApplicantHeaderUserData img{
    width: 50px;
    height: 50px;
}

.ApplicantHeaderUserText1{
    /* body medium */
    color: rgb(24, 25, 28);
    font-family: PP Neue Montreal;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
}

.ApplicantHeaderUserText2{
    /* body2 */
    color: rgb(71, 76, 84);
    font-family: PP Neue Montreal;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
}

.ApplicantHeaderBtn1{
    display: none;
}

.ApplicantHeaderBtn3{
    display: block;
    width: 35px;
    height: 35px;
}

.ApplicantHeaderBtnCtn{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
@media (min-width: 786px) {
    .ApplicantHeaderBtn1{
        display: block;
    }

    .ApplicantHeaderBtn3{
        display: none;
    }
}