/* .Ctn {
    width: 840px;
    margin: auto;
    margin-top: 150px;
    background: skyblue;
}

.topCtn {
    padding: 20px;
    background: #FFF3CC;
    text-align: left;
    border-radius: 10px;
}

.billingMethod {
    width: 320px;
}

.billingMethod h5 {
    margin-top: 20px;
    color: #797979;
}

.billingMethod p {
    line-height: 25px;
    font-size: 14px;
}

.addMoneyCtn {
    display: flex;
    justify-content: space-between;
}

.addMoneyCtn p {
    font-size: 15px;
}
.levelUpIcon {
    background: #03A862;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding: 10px;
} */