.ctn {
    margin: auto;
    margin-top: 120px;
    width: 60dvw;
    padding-left: 80px;
    position: relative;
    z-index: 0;
}

.settingPages {
    display: flex;
    align-items: center;
    gap: 10px;
}

.backToSettings,
.currentPage {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 15px;
}

.backToSettings {
    text-decoration: none;
    color: #000000;
}

.currentPage {
    color: #97979D;
}


/* Image upload styling */

.imageborder {
    width: 80px;
    height: 80px;
    border: none;
    background: #D9D9D9;
    border-radius: 50%;
    position: relative;
}

.image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
}

.imageUploaderCtn {
    background: black;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute; 
     bottom: 2px;
    left: 60px;
    color: white;
}

.formCtn {
    width: 41dvw;
    padding-bottom: 80px;
    z-index: 0;
    border-bottom: 1px solid #B5B6BA;
}

label, h4 {
    display: block;
    text-align: start;
    margin: 12px auto;
}

.btnCtn {
    float: right;
}

.passwordChange {
    width: 50dvw;
}

.crtPassword, .newPassword, .cfmPassword {
    width: 41dvw;
}

.dropdown {
    position: relative;
    z-index: 12;
}

.state {
    position: relative;
    z-index: 11;
}

.city {
    position: relative;
    z-index: 10;
}

@media (max-width: 768px) {
    .ctn {
        margin: auto;
        margin-top: 120px;
        width: 60dvw;
        padding-left: 0px;
        position: relative;
        z-index: 0;
    }
}