.ctn {
    margin: auto;
    margin-top: 150px;
    width: 60dvw;
    padding-left: 80px;
    position: relative;
    z-index: 0;
}

.settingPages {
    display: flex;
    align-items: center;
    gap: 10px;
}

.backToSettings,
.currentPage {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 15px;
}

.backToSettings {
    text-decoration: none;
    color: #000000;
}

.currentPage {
    color: #97979D;
}

form {
    width: 530px;
    padding: 0px 0px 50px 0px;
    z-index: 0;
}

/* Image upload styling */

.imageborder {
    width: 80px;
    height: 80px;
    border: none;
    background: #D9D9D9;
    border-radius: 50%;
    position: relative;
}

.image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
}

.imageUploaderCtn {
    background: black;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute; 
     bottom: 2px;
    left: 60px;
    color: white;
}


/* display name */
label, h4 {
    display: block;
    text-align: start;
    margin: 12px auto;
}

.names {
    display: flex;
    gap: 20px;
}

.firstName input, .lastName input {
    width: 255px;
}

.country {
    margin-top: 8px;
}

.stateCity, .phone {
    margin-top: 15px;
}

.btnCtn {
    display: flex;
    justify-content: end;
    padding-top: 20px;
}

.passwordCtn {
    padding: 40px 0px 40px 0px;
    border-top: 1px solid grey;
}

.passwordChange {
    display: flex;
    gap: 15px;
}

.passwordChange input {
    width: 247px;
}

.crtPassword, .newPassword, .cfmPassword {
    width: 260px;
}

.passwordCtn h2 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 0px;
    font-weight: normal;
}
.passwordCtn .btnCtn {
    padding-top: 10px;
}
/* 
.btnCtn {
    float: right;
}

.passwordChange {
    width: 50dvw;
}

.crtPassword, .newPassword, .cfmPassword {
    width: 41dvw;
}

.dropdown {
    position: relative;
    z-index: 12;
}

.state {
    position: relative;
    z-index: 11;
}

.city {
    position: relative;
    z-index: 10;
} */

@media (max-width: 768px) {
    /* .ctn {
        margin: auto;
        margin-top: 120px;
        width: 60dvw;
        padding-left: 0px;
        position: relative;
        z-index: 0;
    } */

}

@media (max-width: 320px) {

    /* .ctn {
        padding-left: 0px;
    }

    .settingFormCtn {
        width: 320px;
    }

    .formCtn {
        width: 320px;
    }

    .passwordChange {
        width: 320px;
    } */

}