.InputLabel {
    font-family: Neue Montreal, 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

.InputError {
    font-family: Neue Montreal, 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

.storybook-input {
    width: 480px;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 0 20px;
    font-family: Neue Montreal, 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    color: black;
    outline: none;
}

.storybook-input:focus {
    border: 1px solid rgb(254, 194, 0);
}

.storybook-input--small {
    width: 250px;
    height: 35px;
    padding: 0 10px;
}

.storybook-input--medium {
    width: 400px;
    height: 35px;
    padding: 0 15px;
}

.storybook-input--large {
    width: 480px;
    height: 40px;
    padding: 0 20px;
}

.storybook-input--error {
    border: 1px solid red;
    background-color: #f8ecec;
}

.storybook-input--disabled::placeholder{
    color: rgb(217, 217, 217);
}

.storybook-input--disabled{
    cursor: not-allowed;
    color: rgb(217, 217, 217);
}

.InputLabel--small{
    font-size: 12px;
    line-height: 20px;
}
.InputLabel--medium{
    font-size: 14px;
    line-height: 25px;
}
.InputLabel--large{
    font-size: 16px;
}
