.container{
    margin-top: 100px;
}

.headerText{
    color: rgb(24, 24, 24);
    font-family: PP Neue Montreal;
    font-size: 33px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}

.lowerText{
    margin-top: 16px;
    font-family:PP Neue Montreal;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.8px;
    text-align: center;
}

.makeYellow{
    color: rgb(254, 194, 0);
    cursor: pointer;
}

.btn{
    margin-top: 32px;
}

.RadioCont{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px){
    .RadioCont{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .container{
        margin-top: 172px;
    }

    .headerText{
        margin-bottom: 41px;
        font-size: 36px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -1px;
    }


    .btn{
        margin-top: 42px;
    }

}


@media (min-width: 1024px){
    .container{
        margin-top: 200px;
    }

    .headerText{
        margin-bottom: 48px;
        font-size: 36px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -1px;
    }

    .btn{
        margin-top: 46px;
    }
}